
.elearning_courses-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.elearning_courses-header_button {
    font-size: 15px;
    width: 200px;
    height: 50px;
    background-color: var(--color-basic);
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    border: 2px solid var(--color-basic);
    color: #fff;
    margin-right: 0.5rem;
}
.elearning_courses_content {
    display: flex;
    flex-direction: column;
}
.separated {
    background-color: #b9bbb9;
    width: 100%;
    height: 0.5px;
    margin-bottom: 1rem;
  }

.upload__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 100px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
