.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.search button {
  color: #fff;

}